.header {
    background-color: rgb(238, 133, 98);
    text-align: center;
}

.about-me {
    font-size: 20px;
    opacity: 0.5;
}

.title {
    font-weight: bold;
}

body {
    font-family: Georgia serif;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

h1 {
    color: Azure;
}